doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if (messages)
      span= messages.success
    h1= title
    div
      a(href="/documents") Home
      a(href="/documents/upload") Upload
      if isAuthenticated
        a(href="/user/logout") Logout
      else
        a(href="/user/login") Login
    block content
