doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if (messages)
      span= messages.success
    h1= title
    div
      a(href="/") Home
      a(href="/upload") Upload
    block content
