extends layout

block content
  .row
    .col
      form#loginForm(action="/user/login", method="post")
        .row
          .col
            input.formEl(type="text", name="username", placeholder="Username")
          .col
            input.formEl(type="password", name="password", placeholder="Password")
        .row
          .col
            button.formEl(type="submit") Submit