extends layout

block content
  .row
    .column
      form#loginForm(action="/user/login?path="+query, method="post")
        fieldset
          label(for="username") Username
          input(type="text", name="username", placeholder="Username")
          label(for="password") Password
          input(type="password", name="password", placeholder="Password")
          input.button-primary(type="submit", value="Login")
    .column.column-50