extends layout

block content
  form(action="/user/signup", method="post")
    input(type="text", name="username", placeholder="Username")
    input(type="text", name="email", placeholder="Mail")
    input(type="password", name="password", placeholder="Password")
    button(type="submit") Submit