extends layout

block content
  .row
    .column
      form(action="/documents/", method="post", enctype="multipart/form-data")
        label(for="title") Title
        input(type="text", name="title")
        label(for="dated") Date recieved
        input(type="date", name="dated")
        label(for="documents") Documents to upload
        input(type="file", name="documents" multiple)
        button.float-right(type="submit") Submit
    .column.column-50