/* Message Boxes*/
.messageBox {
  padding: 15px 0;
}

#successMessage::before {
  content: '\2705';
  padding-right: 5px;
}

#warnMessage::before {
  content: "\274C";
  padding-right: 5px;
}

a.disabled {
  pointer-events: none;
}

tbody th {
  font-weight: 300;
}

tbody th a.deleteButton {
  font-weight: 700;
}